.header-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10rem;
    width: 100%;
    height: auto;
    min-height: 48rem;
    overflow: hidden;
    background-image: url('../assets/image-hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
    position: relative;
    z-index: 1000;
}
.logo a img{
    height: 1.8rem;
}
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.5rem;
    align-items: center;
}
.hamburger-btn{
    width: 1.5rem;
    position: relative;
    z-index: 2222;
    background: none;
    border: none;

}

nav{
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    padding: 15rem 1rem;
    top: 0rem;
    right: 0rem;
    background-color: var(--Black);
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

nav ul{
    list-style: none;
    display: grid;
    gap: 1.5rem;
}
nav ul li a{
    text-decoration: none;
    color: var(--Grey200);
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

.open{
    opacity: 1;
    visibility: visible;
}

.hero-content{
    position: relative;
    padding: 1rem;
    z-index: 3;
}

.hero-content h1{
    
    width: 42rem;
    max-width: 90vw;
    padding: 1.5rem;
    border: 1px solid var(--White);
    font-size: clamp(2rem, 7vw, 3.5rem);
    text-transform: uppercase;
    color: var(--White);
    font-weight: 400;
    font-family: 'Josefin Sans', 'sans-serif';
    margin: 0;
}

@media (min-width: 768px) {
    .header-wrapper{
          overflow: visible;
          padding: 2rem 6rem 0rem 6rem;
          background-image: url('../assets/image-hero-w.jpg');
    }

    .hamburger-btn{
        display: none;
    }

    nav{
        opacity: 100%;
        visibility: visible;
        background-color: transparent;
        transition: none;
        position: static;
        
        padding: 0rem;
    }
    nav ul{
        display: flex;
        justify-content: end;
    }

    nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--Grey200);
    font-size: 1.5rem;
    font-weight: 700;

}
}
