main {
    gap: 3rem;
    padding: 1.5rem;
}

main,
.top-hero-desc,
.bottom-gallery,
.gallery-wrapper,
.gallery {
    display: flex;
    flex-direction: column;
}

.top-hero-img {
    width: 100%;
    gap: 2rem;
}

.top-hero-img img {
    width: 100%;
}

.top-hero-desc {
    gap: 1rem;
    padding: 1.5rem;
}

.top-hero-desc h2 {
    font-size: 2rem;
    font-family: 'Josefin Sans', 'sans-serif';
    text-transform: uppercase;
    text-align: center;
}

.top-hero-desc p {
    font-size: 1.5rem;
    text-align: center;
    color: var(--Grey200);

}

.bottom-gallery {
    gap: 2rem;
}

.bottom-gallery h2 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', 'sans-serif';
}

.gallery {
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery-wrapper {
    position: relative;
}

.gallery-wrapper p {
    max-width: 8.2ch;
    height: auto;
    position: absolute;
    bottom: 1rem;
    font-size: 1.5rem;
    padding-left: 1rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', 'sans-serif';
    color: var(--White);
}

.seeAll {
    display: flex;
    justify-content: center;
    align-self: center;
    height: auto;
    padding: 1rem 2.5rem;
    background: none;
    border: 1px solid var(--Black);
    text-transform: uppercase;
    font-family: 'Josefin Sans', 'sans-serif';
    letter-spacing: 0.4rem;
    font-weight: 700;

    cursor: pointer;
}

@media (min-width:768px) {
    main {
        padding: 6rem;
    }

    .top-hero-img {
        display: grid;
        grid-template-columns: repeat(20, minmax(0, 1fr));
        align-items: end;
    }

    .top-hero-img img {
        grid-column: 1 / 14;
        grid-row: 1;
    }

    .top-hero-desc {
        grid-column: 10/20;
        grid-row: 1;
        background-color: var(--White);
        display: flex;
        justify-content: flex-end;

    }

    .top-hero-desc-wrapper{
        padding: 2rem 2rem 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 2rem;
    }



    .top-hero-desc-wrapper h2 {
        text-align: left;
        font-size: 3vmax;
    }

    .top-hero-desc-wrapper p {
        text-align: left;
        font-size: 1.4vmax;
        color: var(--Black);
        display: flex;
        justify-content: flex-end;
    }
 

    .bottom-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-areas: 
            "title button"
            "gallery gallery";
        row-gap: 4rem;
        align-items: center;
    }

    .bottom-gallery h2 {
        grid-area: title;
        text-align: left; 
        font-size: 3rem;
    }

    .seeAll {
        grid-area: button;
        justify-self: end; 
        padding: 0.8rem 3rem;
    }

    .gallery {
        grid-area: gallery;
    }
    
    .gallery-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 40%, rgba(0, 0, 0, 0.7));
    z-index: 1; 
}


    .gallery-wrapper p {
        font-size: 2rem;
        text-align: left;
        bottom: 2rem;
        left: 2rem;
        z-index: 30;
    }
}
